includes:
    - ../extension.neon

parameters:
    exceptions:
        implicitThrows: false
        check:
            missingCheckedExceptionInThrows: true
            tooWideThrowType: true
        checkedExceptionClasses:
            - Throwable
